:local(.base) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

:local(.color) {
	width: 37px;
	height: 17px;
	margin-left: -2px;
	transition: transform .1s ease;
	cursor: pointer;

	&:hover {
		transform: scale(1.36);
		position: relative;
		z-index: 1;
	}
}
